body{

    margin-right: 40px;
    margin-left:40px;
    font:1em/1.5 sans-serif; 
    text-align: center;


}
h2{

    margin-left: 60px;
    font-size: 30px;
}
form{
    margin:20px auto;
    width:320px;
    background-color:rgb(241, 234, 220);
    text-align: center;
}
input{
    padding:10px;
    font-size: inherit;
}
input [type="text"]{
    display: block;
    margin-bottom: 25px;
    width:100%;
    border:2px solid steelblue ;
}
input:focus{
    background-color:wheat;
}
input[type="radio"]:checked+label{
    font-weight: bold;
    font-size: 18px;
}